Note: - Create an account in wolframalpha and use your own api key in Lucy.py line 32 and 375
      
      - Enter the whatsapp location location in Lucy.py file on line 532

pip install pyttsx3
pip install opencv-python
pip install SpeechRecognition
pip install PyAutoGUI
pip install psutil
pip install pywhatkit
pip install pytube
pip install wolframalpha
pip install requests
pip install pyjokes
pip install randfacts 
pip install keyboard
pip install screen-brightness-control
pip install pyperclip
pip install speedtest-cli
pip install geopy
pip install geocoder
pip install tk
pip install tk-tools
pip install numpy
pip install Pillow
pip install PyQt5
pip install pyqt5-tools
pip install selenium
pip install opencv-contrib-python
